body{
    margin:0;
  }
  a {
    color:rgb(43, 48, 44);
    text-decoration: none;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    border-bottom:1px solid gray ;
    margin:0;
    padding:20px;
  }
  #grid ol, ul{
    width:110px;
    margin:0;
    padding-left:30px;
  }
  p {
    margin-top:20px"  
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #article{
    border-left:1px solid gray ;  
    padding-left:40px;
  }
  @media(max-width:990px){
    #grid{
      font-size: 25px; 
      display: block;
    }
    #grid ol, ul{
    width:200px;
    padding-left:50px;
    }
    #article{
      font-size: 40px;
      padding-left:20px;
      padding-right:20px; 
    }
    h1 {
      font-size: 60px;
      border-bottom:none;
    }
  }